*{
    margin: 0;
    padding: 0;
    font-family: arial, Helvetica, sans-serif;
}

body{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px ;
    max-width: 1600px ;
}
header, .ourServices, .healthcareProviders, .downoadApp, .customerSaying, .latesArticle {
    margin-bottom: 192px;
}

div.logoandmenu > div{
    width: 100% ;
    
}

div.logobox{
    background-color: #458FF6 ;
    width: 10px;
    height: 10px;
    color:white;
    padding:10px ;
    border-radius: 50%; 
    display: inline-block;
}

#logotext{
    font-weight: bold;
    color: #FFFFFF;
}
ul, li{
    list-style-type: none;
}

ul.header, li.header {
    color: gray;
    display: inline-block;   
} 

li.header{
    padding:10px;
}
li.header:hover{
    color: #1F1534;
    font-weight: bold;
}
div.headerText {
    display: flex;
  }
  
.headerText> div {
    margin: 10px;
    padding: 20px;
    width:40%;
  }

h1{
    font-size:48px;
    margin-top: 40px;
    margin-bottom: 25px;
}
h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 61px;
}
h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 10px;
}
h4{
    color: white;
    padding-top: 65px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
h5{
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-top: 40px;
    padding-bottom: 30px;
}

p.text{
    color: #7D7987;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
p.headerInformation{
    font-size: 21px;
    margin-bottom: 45px;
}
p.services{
    font-size: 21px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 28px;
}
button {
    width: 200px;
    height: 56px;
    border-radius: 55px;
}
#blubutton{
    background-color: #458FF6;
    color:#FFFFFF;
    border: 0px;
}
button.whitebuttons{
    border-color: #458FF6;
    background-color: #FFFFFF;
    color:#458FF6;
}
button.readmore{
    margin-top: 20px;
    border: 0px;
    background-color: white;
    color:#458FF6;


}
button.whitebuttons:hover{
    background-color:#458FF6;
    color:#FFFFFF;
}

.ourServiceBox1 {
    display: flex;
}
  
.ourServiceBox1 > div {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 350px;
    height: 354px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
.ourServiceBox2 {
    display: flex;
}
  
.ourServiceBox2 > div {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    width:350px;
    height: 354px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
img.serviceframe{
    margin-top: 54px;
}

.healthcareProviders {
    display: flex;
}
  
.healthcareProviders> div {
    margin: 10px;
    padding: 20px;
    width: 650px;
    height: 477px;
}
.healthcareInfo{
    font-size: 18px;
    margin-bottom: 50px;
}
  
.downoadApp {
    display: flex;
}
  
.downoadApp> div {
    margin: 10px;
    padding: 20px;
    width: 650px;
    height: 477px;
}
.customerSaying{
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
}
.customer {
    display: flex;
}
  
.customer> div {
    margin: 10px;
    padding: 20px;
    width: 650px;
    height: 477px;
}
.boxforImg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white ;
    display: inline-block;
    background-image: url("image1customer.png");
}
#customerText{
    color: white;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.imgtext{
    color:white ;
    text-align: center;
}
.imgtext.name{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.latesArticle {
    display: flex;
}
  
.latesArticle> div {
    margin: 10px;
    padding: 20px;
    width: 350px;
    height: 512px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
 